
<p>
  <%= l(:mail_body_deal_reminder, count: @deals_count, days: @days) %>
</p>

<ul>
  <% @deals.each_with_index do |deal, idx| -%>
    <li>
      <%= link_to(deal.name, @deal_urls[idx]) %> (<%= due_date_distance_in_words(deal.due_date) %>)
    </li>
  <% end -%>
</ul>

<p>
  <%= link_to l(:label_crm_deal_view_all), @deals_url %> (<%= l(:label_x_open_issues_abbr, count: @deals_count) %>)
</p>
